<style>
  .inputBox {
    padding: 8px;
    border: none;
    /* border: solid 1px rgb(0, 0, 0); */
    border-radius: 6px;
  }

  #fromWrapper {
    width: 600px;
    /* height: 300px; */
    display: grid;
    grid-template-columns: 35% 15% 50%;
    grid-template-rows: 25%;
    grid-template-areas:
      "firstName firstName lastName"
      "postalCode houseNumber country"
      "street street city"
      "email email email";
  }

  #firstName {
    grid-area: firstName;
  }

  #lastName {
    grid-area: lastName;
  }

  #postalCode {
    grid-area: postalCode;
  }

  #houseNumber {
    grid-area: houseNumber
  }

  #country {
    grid-area: country;
  }

  #street {
    grid-area: street;
  }

  #city {
    grid-area: city;
  }

  #email {
    grid-area: email;
  }

  .input {
    display: flex;
    flex-direction: column;
    padding: 5px 15px 0px 0px;
  }

  .inputLabel {
    font-size: 10pt;
    padding: 4px 0 4px 4px;
  }
</style>

<script>
  function validate() {
    let info = {
      firstName: document.getElementById('ctrlFirstName'),
      lastName: document.getElementById('ctrlLastName'),
      postalCode: document.getElementById('ctrlPostalCode'),
      houseNumber: document.getElementById('ctrlHouseNumber'),
      country: document.getElementById('ctrlCountry'),
      street: document.getElementById('ctrlStreet'),
      city: document.getElementById('ctrlCity'),
      email: document.getElementById('ctrlEmail')
    }
    socket.emit('validateContact', info)
  }
</script>

<div id="fromWrapper">
  <div id="firstName" class="input">
    <label for="ctrlFirstName" class="mandatory inputLabel">Frist name*</label>
    <input type="text" id="ctrlFirstName" class="inputBox" oninput="validate()">
  </div>

  <div id="lastName" class="input">
    <label for="ctrlLastName" class="mandatory inputLabel">Last name*</label>
    <input type="text" id="ctrlLastName" class="inputBox" oninput="validate()">
  </div>

  <div id="postalCode" class="input">
    <label for="ctrlPostalCode" class="mandatory inputLabel">Postal code*</label>
    <input type="text" id="ctrlPostalCode" class="inputBox" oninput="validate()">
  </div>

  <div id="houseNumber" class="input">
    <label for="ctrlHouseNumber" class="mandatory inputLabel">Number*</label>
    <input type="text" id="ctrlHouseNumber" class="inputBox" oninput="validate()">
  </div>

  <div id="country" class="input">
    <label for="ctrlCountry" class="mandatory inputLabel">Country*</label>
    <input type="text" id="ctrlCountry" class="inputBox" oninput="validate()">
  </div>

  <div id="street" class="input">
    <label for="ctrlStreet" class="mandatory inputLabel">Street*</label>
    <input type="text" id="ctrlStreet" class="inputBox" oninput="validate()">
  </div>

  <div id="city" class="input">
    <label for="ctrlCity" class="mandatory inputLabel">City*</label>
    <input type="text" id="ctrlCity" class="inputBox" oninput="validate()">
  </div>

  <div id="email" class="input">
    <label for="ctrlEmail" class="mandatory inputLabel">Email*</label>
    <input type="text" id="ctrlEmail" class="inputBox" oninput="validate()">
  </div>
</div>
