<style>
	.copyButton {
		background-color: Transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		overflow: hidden;
		outline: none;
	}

	.copyButton:hover {
		/* text-decoration: underline; */
		cursor: pointer;
		transform: scale(1.1);
	}

	.copyButton:active {
		background-color: rgba(0, 0, 0, 0.14);
	}

	.item {
		padding-right: 1em;
	}

	#contact-table {
		/* table-layout: fixed; */
		padding: 40px;
		background-color: white;
	}

	#contact-title{
		margin: 10px 0px;
	}

	#page {
	/* background-color: rgb(148, 155, 150, 138); */
	padding: 20px 10px;
	min-height: 75vh;
	/* display: flex; */
	display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

</style>

<script>
	function copy(str) {
		const el = document.createElement('textarea');
		el.value = str;
		document.body.appendChild(el);
		el.select();
		document.execCommand('copy');
		document.body.removeChild(el);
	}
</script>

<div id="contact-info">
	<table id="contact-table" class="shadow">
		<tr>
			<td class="item" ><b>Name</b></td>
			<td class="item" id="name">Joppe Koers</td>
			<td class="item">
				<button class="copyButton" onclick="copy('Joppe Koers')">
					<img src="/routes/contact/copy.svg">
					copy
				</button>
			</td>
		</tr>
		<tr>
			<td class="item"><b>Email</b></td>
			<td class="item" id="email">joppe@joppekoers.nl</td>
			<td class="item">
				<button class="copyButton" onclick="copy('joppe@joppekoers.nl')">
					<img src="/routes/contact/copy.svg">
					copy
				</button>
			</td>
		</tr>
		<tr>
			<td class="item"><b>Phone</b></td>
			<td class="item" id="phone">+31 610154519</td>
			<td class="item">
				<button class="copyButton" onclick="copy('+31 0610154519')">
					<img src="/routes/contact/copy.svg">
					copy
				</button>
			</td>
		</tr>
		<tr>
			<td class="item"><b>KvK</b></td>
			<td class="item" id="kvk">73820857</td>
			<td class="item">
				<button class="copyButton" onclick="copy('73820857')">
					<img src="/routes/contact/copy.svg">
					copy
				</button>
			</td>
		</tr>
		<tr>
			<td class="item"><b>Location</b> </td>
			<td class="item" id="location">Amsterdam</td>
			<td class="item">
				<button class="copyButton" onclick="copy('Amsterdam')">
					<img src="/routes/contact/copy.svg">
					copy
				</button>
			</td>
		</tr>
	</table>
</div>
