<style>
	#projects {
		display: flex;
	}

	.projectsRow {
		width: 50%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.text {
		background-color: rgba(255, 255, 255, 1);
		padding: 0px 35px;
		width: 300px;
		vertical-align: top;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.block {
		height: 300px;
		margin: 0px 15px 15px 0px;
	}

	#all {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.projectImg {
		height: 100%;
		max-height: 100%;
	}
</style>
<script src="/js/openPopup.js"></script>

<div id="all">

	<div class="text block">
		<p>
			Hello and welcome to Joppe Koers' website. This is where you'll find my portfolio, personal projects and a mix of programming related stuff.
			Since I can remember I've always wanted to make stuff.
			To accomplish this I acquired a number of skills of which you can see the result below.
			Do you want me to make you something? See the projects below to see what I'm capable of. You can contact me form the <a href="/contact" class="internalLink">/contact</a> page.
		</p>
	</div>

	<div class="project block scale-up">
		<img src="/img/projectImg/wolmolen/thumbnail.jpg" onclick="openPopup('wolmolen')" class="lazyload projectImg">
	</div>
	<div class="project block scale-up">
		<img src="/img/projectImg/hammer/thumbnail.jpg" onclick="openPopup('hammer')" class="lazyload projectImg" id="hammer">
	</div>
	<div class="project block scale-up">
		<img src="/img/projectImg/jacobsLadder/thumbnail.jpg" onclick="openPopup('jacobsLadder')" class="lazyload projectImg" id="jacobsLadder">
	</div>
	<div class="project block scale-up">
		<img src="/img/projectImg/knife/thumbnail.jpg" onclick="openPopup('knife')" class="lazyload projectImg" id="knife">
	</div>
	<div class="project block scale-up">
		<img src="/img/projectImg/smallBox/thumbnail.jpg" onclick="openPopup('smallBox')" class="lazyload projectImg" id="smallBox">
	</div>
	<div class="project block scale-up">
		<img src="/img/projectImg/speakers/thumbnail.jpg" onclick="openPopup('speakers')" class="lazyload projectImg" id="speakers">
	</div>
	<div class="project block scale-up">
		<img src="/img/projectImg/sword/thumbnail.jpg" onclick="openPopup('sword')" class="lazyload projectImg" id="sword">
	</div>
	<div class="project block scale-up">
		<img src="/img/projectImg/sword2/thumbnail.jpg" onclick="openPopup('sword2')" class="lazyload projectImg" id="sword2">
	</div>
	<div class="project block scale-up">
		<img src="/img/projectImg/table/thumbnail.jpg" onclick="openPopup('table')" class="lazyload projectImg" id="table">
	</div>



	<%- include('photoSwipe.ejs')-%>
