<h1>Home</h1>
<p>
  Hello and welcome to Joppe Koers' website. This is where you'll find my portfolio, personal projects and a mix of programming related stuff.
</p>
<p>
  Since I can remember I've always wanted to make stuff. To accomplish this I required a number of skills of which you can see the result in the
  <a href="/projects">
    <u class="internalLink"> Projects</u>
  </a>
  tab.
</p>
