<p>
  <h1>
    Wolmolen V.3.1
  </h1>
</p>
This device makes it easy to unravel large strands of wool. It has ball bearings, making it much smoother than the umbrella style machines. <br>
<p>
  These machines are: <br>
  - Hand made in Amsterdam. <br>
  - Finished with Danish oil. <br>
  - Able to free spin for 20 seconds. <br>
  - Handle up to 2 meter log strands. <br>
  - Easy to disassemble for storage. <br>
  - Using three 1 cm high friction feet so the machine will never wobble, even on a uneven surface. <br>
  For more information and pricing <a href="/contact" class="internalLink">contact</a> me.
</p>
