<style>
  #wolmolen {
    background-color: rgba(244, 241, 187, 1);
  }

  #wolmolenMain {
    display: grid;
    grid-template-columns: 4.5fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      "title title"
      "picture order"
      "description description";
    min-height: 100vh;
  }

  #description {
    grid-area: description;
    padding: 60px 0 0 20px;
  }

  #order {
    grid-area: order;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  #orderButton {
    /* margin: 0 80px; */
    padding: 20px 40px;
    background-color: rgba(244, 241, 187, 1);
    cursor: pointer;
  }

  #orderButton:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  }

  #price {
    /* font-family: Arial, Helvetica, sans-serif; */
    padding: 20px 20px 5px;
    font-size: 2.2em;
  }

  #incBtw {
    padding: 0 20px 0 0;
    font-size: 0.8em;
  }

  #available {
    padding: 20px 20px 0 0;
  }

  #picture {
    grid-area: picture;
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    /* width: 40% auto; */
    cursor: pointer;
  }

  #wolmolenImg {
    cursor: pointer;
    width: 90%
  }

  #wolmolenImg:hover {
    /* outline: 3px solid rgba(244, 241, 187, 1); */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  }

  #title {
    padding: 0 0 0 100px;
  }
</style>

<div id="wolmolenMain">
  <div id="title">
    <h1>
      Joppe's Wolmolen V.3.2
    </h1>
  </div>
  <div id="description">

    This device makes it easy to unravel large strands of wool. It has ball bearings, making it much smoother than the umbrella style machines. <br>

    <p>
      These machines are: <br>
      - Hand made in Amsterdam. <br>
      - Finished with Danish oil. <br>
      - Able to free spin for 20 seconds. <br>
      - Handle up to 2 meter log strands. <br>
      - Easy to disassemble for storage. <br>
      - Using three 1 cm high friction feet so the machine won't wobble, even on a uneven surface. <br>
      For more information and pricing <a href="/contact" class="internalLink">contact</a> me.
    </p>
  </div>

  <div id="order">
    <div id="orderButton">
      Order Now
    </div>

    <div id="price">
      € <%=priceIncBtw%>
    </div>

    <div id="incBtw">
      inc. 21% BTW
    </div>

    <div id="available">
      <b id="numAvailable"><%=stock%></b> in stock
    </div>

  </div>

  <div id="picture">
    <img src="/img/projectImg/wolmolen/0h300px.jpg" onclick='openPopup([{src:"000.jpg",w:2756,h:1550},{src:"001.jpg",w:2756,h:1550},{src:"002.jpg",w:2756,h:1550},{src:"003.jpg",w:2756,h:1550},{src:"004.jpg",w:2756,h:1550},{src:"005.jpg",w:2756,h:1550},{src:"006.jpg",w:2756,h:1550},{src:"007.jpg",w:2756,h:1550},{src:"008.jpg",w:2756,h:1550},{src:"009.jpg",w:2756,h:1550},{src:"010.jpg",w:2756,h:1550},{src:"011.jpg",w:2756,h:1550},{src:"012.jpg",w:2756,h:1550}],"/img/projectImg/wolmolen/")' class="lazyload" id="wolmolenImg">
  </div>


</div>

<script src="/js/openPopup.js"></script>
<link rel="stylesheet" href="/lib/PhotoSwipe/photoswipe.css">
<link rel="stylesheet" href="/lib/PhotoSwipe/default-skin/default-skin-custom.css">
<script src="/lib/PhotoSwipe/photoswipe.min.js"></script>
<script src="/lib/PhotoSwipe/photoswipe-ui-default.min.js"></script>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

  <div class="pswp__bg"></div>

  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div> <button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div> <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"> </button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"> </button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>

</div>
