<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="../stylesheets/normalize.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <div id="container">
    <div id="head">
      <div id="logo-name">
        <img src="../logo/logo128x128.png" alt="error 404">
        <div>
          <h6>Joppe Koers.nl</h6>
        </div>
      </div>
    </div>
    <div id="menu">b</div>
    <div id="mid1">
      <%- partial ('./partials/home.html') %>
    </div>
    <div id="footer">d</div>
  </div>
</body>

</html>
