<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Redirect</title>
</head>

<body>
  <script>
    let language = window.navigator.userLanguage || window.navigator.language;

    switch (language) {
      // case 'nl':
      //   window.location.replace('www.joppekoers.nl/nl/home')
      //   break;

      default:
        window.location.replace(window.location.href + 'en/home/');
        break;
    }
  </script>
</body>

</html>
