<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>deletthis</title>
  <link rel="stylesheet" href="../deletthis/deletthis.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script>
    let socket = io();
    let imageList = [];
    let listPos = 0;

    const loadImg = (direction) => {
      let result = listPos + direction;
      if (result < 0) return;
      listPos = result;

      if (result > imageList.length - 1) {
        socket.emit('reqNewImg');
        return;
      }
      document.getElementById('img').src = imageList[result]
    }

    socket.on('resNewImg', function (newImgSrc) {
      imageList.push(newImgSrc);
      document.getElementById('img').src = newImgSrc;
    });

    window.onload = () => socket.emit('reqNewImg');
  </script>
</head>

<body>
  <div id="box">
    <a class="prev" onclick="loadImg(-1)">&#10094;</a>
    <a class="next" onclick="loadImg(1)">&#10095;</a>
    <div id="imgContainer">
      <img src="" alt="404 image not found" id="img">
    </div>

    <div id="uploadBox">
      <form class="fileupload" action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="upfile" value="">
        <input type="submit" />
      </form>
    </div>

  </div>
</body>

</html>
