<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="google" content="notranslate">
	<meta name="description" content="This is a webside build, hosted and maintained by Joppe Koers">
	<meta name="keywords" content="Joppe, Koers, J.E. Koers, Portfolio, joppe@joppekoers.nl, joppe.koers@gmail.com, 73820857">
	<meta name="author" content="Joppe Koers">
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" href="/lib/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/lib/lazysizes.min.js"></script>
</head>

<body>
	<div id="body2">
		<div id="top">
			<div id="dropdown-burger">≡</div>
			<div id="menu">
				<div>
					<img src="/logo/logoW160px.png" id="top-logo">
				</div>
				<a href="/home">
					<div id="home" class="menuItem">Home</div>
				</a>

				<a href="/contact">
					<div id="contact" class="menuItem">Contact</div>
				</a>

				<!-- <a href="/code">
					<div id="code" class="menuItem">Code</div>
				</a> -->

				<!-- <a href="/wolmolen">
					<div id="wolmolen" class="menuItem">Wolmolen</div>
				</a> -->
			</div>
		</div>

		<div id="page">
			<%- include(partial, partialOptions)-%>
		</div>

		<div id="footer">
			Build, hosted and maintained by Joppe Koers
		</div>
	</div>
</body>

</html>
