<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Start server3</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <script src="/socket.io/socket.io.js"></script>
</head>

<style>
  body {
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: 'Roboto';
    font-size: 23px;
    line-height: 50px;
  }

  #box {
    display: flex;
    justify-content: center;
  }

  #output {
    width: 60%;
    max-width: 50%;
    height: 100%;
    background-color: rgb(34, 34, 34);
    padding: 10px;
    margin: 10px;
    word-wrap: break-word;
  }
</style>

<body>
  <div id="box">
    <div id="output"></div>
  </div>

  <script>
    const socket = io();
    let service = window.location.href.split('/')
    socket.emit('server3', service[service.length - 1])
    socket.on('message', (message) => {
      document.getElementById('output').innerHTML += message
    })
    socket.on('redirect', (url) => {
      console.log(url)
      window.location.replace(url)
    })
  </script>
</body>

</html>
