<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Start server3</title>

  <script src="/socket.io/socket.io.js"></script>
</head>

<style>
  body {
    background-color: rgba(0, 0, 0);
    color: white
  }
</style>

<body>
  <div id="output"></div>

  <script>
    const socket = io();
    socket.emit('startServer3')
    socket.on('server3message', (message) => {
      document.getElementById('output').innerHTML += message
    })
    socket.on('redirectToPlex', () => {
      window.location.replace('https://plex.joppkoers.nl/web')
    })
  </script>
</body>

</html>
