.paddle{
  background-color:rgba(230, 235, 224, 1);
  background-color: rgba(93, 87, 107, 1);
  background-color: rgba(155, 193, 188, 1);
  background-color: rgba(244, 241, 187, 1);
  background-color: rgba(237, 106, 90, 1);
}
/*
$color1: rgba(30, 56, 136, 1);
$color2: rgba(71, 168, 189, 1);
$color3: rgba(245, 230, 99, 1);
$color4: rgba(255, 173, 105, 1);
$color5: rgba(156, 56, 72, 1); */

body{
  font-family: "Lucida Grande";
  background-color: rgba(93, 87, 107, 1);
}

#container {
  max-width: 1600px;
  padding: 7px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas: "head head"
                       "menu mid1"
                       "footer footer";
}

#head {
  background-color: rgba(244, 241, 187, 1);
  grid-area: head;
  height: 80px;
  padding: 3px;
}

#menu {
  grid-area: menu;
  background-color: rgba(237, 106, 90, 1);
  padding: 15px 10px;
}

#menu > div{
  font-size: 25px;
  padding: 10px 20px;

}

#menu > div:hover{
  background-color: rgba(230, 235, 224, 1);
  border-radius: 3px;
  font-size: 28px;
}
#mid1 {
  background-color: rgba(155, 193, 188, 1);
  grid-area: mid1;
  padding: 10px;
}

#footer {
  grid-area: footer;
  background-color: rgba(244, 241, 187, 1);
}
#copyright{
/* vertical-align: middle  */
  text-align: center;
}

#logo-name {
  width: 30%;
  height: 100%;
margin: 0 auto;
display: flex;
justify-content: center;
}

#logo{
  height: 100%;
}

#name{
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
}
