body{
  background-color: #02111B

}

#box{
  margin: 20 auto;
  width: 70%;
  height: 100%;
  background-color: #334E58;

}

#imgContainer{
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 70%;
}


#img{
height: 100%
}


.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  /* position: absolute; */
  position: sticky;

  top: 50%;
}

.next {
  /* display: block; */
  float: right;
  margin-right: 0px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.uploadBox{
  padding: 20px;
  position: absolute;
  top: 70%;
  background-color: rgb(27, 2, 2);
}
